<div class="d-flex custom-checks justify-content-around align-items-center" style="padding-bottom:50px; width:100vw">
    <div style="margin-left:5px;">
        <RadioInput GroupName="@_groupName" Value="-4" OnChange="UpdateValue" />
    </div>
    <div style="margin-left:5px;">
        <RadioInput GroupName="@_groupName" Value="-2" OnChange="UpdateValue" />
    </div>
    <div style="margin-left:1px;">
        <RadioInput GroupName="@_groupName" Value="-1" OnChange="UpdateValue" />
    </div>
    <div style="margin-left:5px;">
        <RadioInput GroupName="@_groupName" Value="0" OnChange="UpdateValue" />
    </div>
    <div>
        <RadioInput GroupName="@_groupName" Value="1" OnChange="UpdateValue" />
    </div>
    <div>
        <RadioInput GroupName="@_groupName" Value="2" OnChange="UpdateValue" />
    </div>
    <div>
        <RadioInput GroupName="@_groupName" Value="4" OnChange="UpdateValue" />
    </div>    
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }

    private string _groupName = Guid.NewGuid().ToString();

    private async Task UpdateValue(int newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(Value);
    }
}
